name: API Tester

on:
  - push
  - workflow_dispatch

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install python
        run: | 
          sudo apt install python3 \
          pip install requirements.txt
      - name: run tests
        run: python3 test-api/test/test.py
