name: API Tester

on:
  - push
  - workflow_dispatch

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v5.4.0
        with:
          python-version: 3.12
      
      - name: install depencecy 
        run: | 
          python -m pip install
        
      - name: run tests
        run: python3 test-api/test/test.py
